
#heading-section {
    margin-top: 5dvh;
}

section {
    margin-bottom: 10dvh;
}

h2 {
    margin-top: 0;
}

aside {
    position: absolute;
    top: 13dvh;
    left: 0;
}

aside button {
    max-width: 10vw;
    margin-left: 2vw;
    margin-top: 1dvh;
    color: #ffffff;

    height: auto;
    min-height: 5dvh;
    background-color: #434343;
    border-radius: 1dvh;
    filter: drop-shadow(0 0.5dvh #313131);
    border: 0.3dvh solid #7f7f7f;
    
    padding: 0 2dvh;
    position: relative;
}

aside button:hover {
    text-decoration: underline;
}

/* aside button img {
    width: 0.6dvh;
    height: 0.6dvh;
} */

#new-tab-icon {
    position: absolute;

    top: 10px;
    right: 10px;
}

.flexbox-ends-case-study {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    /* align-items: center; */
    margin-bottom: 10dvh;
}


#research-section {
    height: auto;
}

#research-section,
#overview-section,
#define-section,
#concepting-section,
#early-prototyping-section,
#ui-changes-section,
#evaluation-section {
    margin-bottom: 20dvh;
}

#define-section {
    margin-top: 10dvh;
}

.text-holder {
    max-width: 40%;
}

.text-holder h3 {
    margin-top: 4dvh;
}

.case_study figure img,
.case_study figure figcaption {
    width: 100%;
}

figure {
    width: 40%;
    margin: 0;
}

#concepting_figure {
    width: 100%;
    margin-top: 5dvh;
}

.insight-card {
    width: calc(100%/7);
    min-width: 10dvh;
    padding: 2dvh;
    border-radius: 1dvh;
    height: clamp(250px, 20dvh,700px);
    border: 0.3dvh solid #5c5c5c; 
    background-color: #fff;
    overflow: hidden;
    animation: 1s ease-in-out;
}

.insight-card h3 {
    margin: 1dvh 0 0 0;
}

.insight-card p {
    margin: 2dvh 0 0 0;
}

.insight-card:nth-child(even) {
    transform: translateY(3dvh);
}

.insight-card:nth-child(1) {
    filter: drop-shadow(0 0.5dvh #E13700); 
}
.insight-card:nth-child(1):hover {
    filter: drop-shadow(0 1.5dvh #E13700); 
}
.insight-card:nth-child(2) {
    filter: drop-shadow(0 0.5dvh #825CEF); 
}
.insight-card:nth-child(2):hover {
    filter: drop-shadow(0 1.5dvh #825CEF); 
}
.insight-card:nth-child(3) {
    filter: drop-shadow(0 0.5dvh #16D77B); 
}
.insight-card:nth-child(3):hover {
    filter: drop-shadow(0 1.5dvh #16D77B); 
}
.insight-card:nth-child(4) {
    filter: drop-shadow(0 0.5dvh #67B0E5); 
}
.insight-card:nth-child(4):hover {
    filter: drop-shadow(0 1.5dvh #67B0E5); 
}
.insight-card:nth-child(5) {
    filter: drop-shadow(0 0.5dvh #FF7C51); 
}
.insight-card:nth-child(5):hover {
    filter: drop-shadow(0 1.5dvh #FF7C51); 
}

#activity_flow_case_study_div,
#custom_journey_flow_case_study_div {
    height: 70dvh;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

#activity_flow_case_study,
#custom_journey_flow_case_study {
    height: 100%
}

/* #activity_flow_case_study_div {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
} */

#activity_flow_holder,
#custom_journey_flow_holder {
    margin-bottom: 10dvh;
}

.scroll-arrow {
    position: absolute;
    height: 3dvh;
    width: 4dvh;
    right: -8dvh;
    top: 48%;
    animation: hori-scroll 3s infinite ease-in-out;
}

@keyframes hori-scroll {
    0% {
        opacity: 0.4;
        right: -6dvh;
    }
    40% {
        opacity: 1;
        right: -8dvh;
    }
    60% {
        opacity: 1;
        right: -8dvh;
    }
    100% {
        opacity: 0.4;
        right: -6dvh;
    }
}


@media only screen and (max-width: 1600px) {
    aside button{
        display: none;
    }
}
