#mediapipe-holder {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  /* width: 48dvh;
  height: 80dvh; */
  aspect-ratio: auto;
  display: none;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* border: 3px #fff solid;
  border-radius: 10px; */
  /* width: 48dvh;
  height: 80dvh; */
  aspect-ratio: auto;
  object-fit: cover;
}

#gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 8;
}

#sea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 200px; */
  background: rgba(0, 0, 255, 0.502);
  z-index: 8;
}

#bodyFrame {
  position: absolute;
  top: 5dvh;
  left: 2dvh;
  height: 85dvh;
  z-index: 7;
}

#end-screen #arms-up-percentage {
  position: absolute;
  top: 24.8dvh;
  left: 25.6dvh;
  font-size: 4rem;
  font-family: "sofia-pro-soft", sans-serif;
  font-weight: 600;
  z-index: 9;
}
