#screen-items #background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#sketch-holder {
  position: absolute;
  top: 21dvh;
  left: 10dvh;
}

#defaultCanvas0 {
  position: absolute;
  top: 0;
  left: 0;
}

#speech-box {
  position: absolute;
  top: 14dvh;
  left: 4dvh;
  width: 35dvh;
  z-index: 8;
}

#speech-box .line {
  position: absolute;
  display: none;
}

#speech-box p {
  font-family: "sofia-pro-soft", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  width: 35dvh;
}

#progressBar {
  position: absolute;
  left: 0dvh;
  top: 0dvh;
  width: 0dvh;
  height: 3dvh; /* Adjust height as needed */
  background-color: #ff7c51; /* Adjust color as needed */
  z-index: 9;
}

.countdown {
  color: #e13700;
}

#end-screen {
  display: none;
}

#end-screen img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 8;
}

#end-screen #exit-button-ending {
  position: absolute;
  top: 6.3dvh;
  left: 1.4dvh;
  z-index: 9;
}

#end-screen #exit-button-ending {
  height: 5dvh;
  width: 5dvh;
  background: rgba(0, 128, 0, 0.29);
}

#end-screen #retry-button {
  position: absolute;
  top: 61.9dvh;
  left: 22.5dvh;
  z-index: 9;
}

#end-screen #home-button {
  position: absolute;
  top: 61.9dvh;
  left: 4.8dvh;
  z-index: 9;
}

#end-screen #retry-button,
#end-screen #home-button {
  height: 7dvh;
  width: 16dvh;
  background: rgba(0, 128, 0, 0.29);
}

#end-screen #next-session-button {
  position: absolute;
  top: 80dvh;
  left: 3dvh;
  z-index: 9;
}

#end-screen #next-session-button {
  height: 8dvh;
  width: 37.3dvh;
  background: rgba(0, 128, 0, 0.29);
}
