.video-box {
  position: absolute;
  width: 100%;
  top: 30dvh;
  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.video-box video {
  width: 60%;
}

.quote-box {
  width: calc(100% - 10dvh);
  padding-left: 5dvh;
  position: absolute;
  top: 50dvh;
}

.quote-box p {
  font-family: "sofia-pro-soft", sans-serif;
  color: #e13700;
  font-size: 1.2rem;
  text-align: right;
  font-weight: 600;
}
