.overflow-box img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.overflow-box a {
  position: absolute;
  top: 49dvh;
  left: 30dvh;
  z-index: 12;
}

.overflow-box a div {
  width: 11dvh;
  height: 11dvh;
  background: rgba(0, 128, 0, 0.331);
}
