:root {
  --accent-orange: #e13700;
  --light-orange: #ff7c51;
  --black: #1f1f1f;
  --screen-width: 43dvh;
  --screen-height: 93dvh;
  --phone-height: 95dvh;

  /* Text Sizing */
  --side-title: 4rem;
  --font-styling: "sofia-pro-soft", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100dvh;

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

h1 {
  color: white;
  font-size: var(--side-title);
  font-family: var(--font-styling);
  font-weight: 600;
}

blockquote {
  font-family: var(--font-styling);
  color: var(--black);
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  text-align: center;
}

aside {
  /* background: blue; */
  height: 100dvh;
  width: 20%;
  order: 2;
}

section {
  /* background: green; */
  height: 100dvh;
  width: 20%;
  order: 0;
}

section #task-box,
aside #aside-box {
  /* Takes up 40dvh so far */
  max-width: 100%;
  height: 30dvh;
  margin-top: 10dvh;
  background: var(--accent-orange);
  padding-left: 3dvh;
}

section #task-box {
  border-radius: 0 16px 16px 0;
}

section #reset-button {
  margin-top: 5dvh;
  max-width: 100%;
  width: 100%;
  height: 10dvh;
  background: var(--accent-orange);
  border-radius: 0 16px 16px 0;
  font-family: var(--font-styling);
  font-size: 2rem;
  color: white;
  border: 4px solid var(--light-orange);
}

aside #aside-box {
  border-radius: 16px 0 0 16px;
}

/* Main screen sections & Media Queries beyond this point */

main {
  background: red;
  height: 100dvh;
  min-height: 80dvh;
  width: auto;
  position: relative;

  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  order: 1;
}

main #iphone-screen {
  position: absolute;
  top: 2.5dvh;
  min-height: 80dvh;
  height: var(--phone-height);
  width: auto;
  aspect-ratio: auto;
  z-index: 10;
  pointer-events: none;
}

main #screen-items {
  position: absolute;
  top: 3.5dvh;
  min-height: 80dvh;
  /* Aspect Ratio is 43/93 */
  height: var(--screen-height);
  width: var(--screen-width);
  /* background: purple; */
  z-index: 0;
}

main #screen-items #nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 9;
}

main #screen-items #nav #nav-links {
  position: absolute;
  bottom: 4dvh;
  height: 6dvh;
  width: calc(100% - 6dvh);
  max-width: 100%;
  margin-left: 3dvh;
  /* background: rgba(255, 0, 0, 0.3); */

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

main #screen-items #nav #nav-links a {
  width: 22%;
  height: 100%;
  /* background: rgba(47, 255, 15, 0.4); */
}

main #screen-items #nav-img {
  width: 100%;
  pointer-events: none;
}

main #screen-items .overflow-box {
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* background: orange; */
}

main #screen-items .overflow-box::-webkit-scrollbar {
  display: none;
}

/* Hides side sections if screen is too narrow */
@media only screen and (max-width: 1000px) {
  #left-section,
  #right-section {
    display: none;
  }

  body {
    display: block;
  }
}
